.categoriesPage {
  &Inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &Buttons {
    display: flex;
    gap: 10px;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
}