.categoryBadge {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: var(--border-radius-l);
  border: none;
  cursor: pointer;
  color: var(--color-card-bg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    flex-shrink: 0;
  }

  &:hover {
    opacity: 0.7;
  }

  &Active {
    transform: scale(1.01);
  }
}
