.categoryBadge {
  color: var(--color-card-bg);
  gap: 5px;
  padding: 8px 12px;
  border-radius: var(--border-radius-l);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &:hover {
    opacity: 0.7;
  }

  &Active {
    transform: scale(1.05);
  }
}
