html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-family: var(--font-family-base), sans-serif;
  line-height: 1.5;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

a,
option,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: 2px solid var(--color-gray);
  transition-duration: 0s !important;
}
