@use '/src/styles/helpers/media.scss' as *;

:root {
  --color-bg: #F5F6FA;
  --color-card-bg: #FFFFFF;
  --color-primary: #4F46E5;
  --color-secondary: #A5B4FC;
  --color-text: #111827;
  --color-text-secondary: #6B7280;
  --color-error: #EF4444;
  --color-income: linear-gradient(90deg,rgba(16, 185, 129, 1) 100%, rgba(0, 255, 166, 1) 0%);
  --color-expense: linear-gradient(90deg,rgba(245, 158, 11, 1) 0%, rgba(255, 176, 41, 1) 100%);
  --color-border: #e5e5e5;

  --border-radius-xs: 3px;
  --border-radius-s: 6px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;

  --input-padding-l: 12px;

  --border: 2px solid var(--color-border);

  --shadow:  0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  --shadow-inset: inset 0 0 20px 2px rgba(0, 0, 0, 0.99);

  --font-family-base: "Montserrat", sans-serif;

  --container-width: 1600px;
  --container-padding-x: 40px;

  --transition-duration: 0.2s;

  @include mobile {
    --container-padding-x: 20px;
  }
}
