@use "/src/styles/helpers/functions.scss" as *;

.categoryForm {
  display: flex;
  flex-direction: column;
  gap: fluid(20, 10);
  padding: fluid(24, 12);
  background: var(--color-card-bg);
  border-radius: var(--border-radius-l);

  &Title {
    font-size: fluid(20, 16);
    font-weight: 700;
  }

  &Group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Label {
    font-size: fluid(14, 12);
    color: var(--color-text-secondary);
  }

  &Input {
    background: none;
    border: var(--border);
    border-radius: var(--border-radius-s);
    padding: fluid(10, 8);
    font-size: fluid(16, 14);
  }

  &Buttons {
    display: flex;
    gap: 10px;
  }

  &Colors, &Icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &Color {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: var(--border);
    cursor: pointer;

    &:hover {
      border-color: var(--color-primary);
    }

    &Active {
      transform: scale(1.3);
      border-color: var(--color-primary);
    }
  }

  &Icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    border: var(--border);
    border-radius: 50%;
    background: transparent;

    transition:
      transform 0.15s ease,
      border-color 0.15s ease,
      background-color 0.15s ease;

    & svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }

    &:hover {
      border-color: var(--color-primary);
    }

    &Active {
      transform: scale(1.15);
      border-color: var(--color-primary);
    }
  }
}