@use '/src/styles/helpers/functions.scss' as *;

.transactionsList {
  width: 100%;
  border-collapse: collapse;
  background: var(--color-card-bg);
  border-radius: var(--border-radius-l);
  overflow: hidden;

  &Header {
    background: var(--color-border);
  }

  &Row {
    transition: background-color 0.2s ease;

    &:hover {
      background: var(--color-bg-hover);
    }

    & + & {
      border-top: var(--border);
    }
  }

  &CellHead {
    padding: 12px 16px;
    text-align: left;
    font-size: fluid(14, 12);
    font-weight: 700;
    color: var(--color-text);
  }

  &Cell, &CellWithIcon {
    padding: 12px 16px;
    font-size: fluid(14, 12);
    color: var(--color-text-primary);

    &WithIcon {
      display: flex;
      align-items: center;
      gap: 5px;

      & svg {
        width: 20px;
        height: 20px;
        fill: currentColor;
      }
    }

    &Income,
    &Expense {
      font-weight: 700;
    }

    &Income {
      color: var(--color-income);
    }

    &Expense {
      color: var(--color-expense);
    }
  }
}
