@use '/src/styles/helpers/media.scss' as *;

.header {
  display: none;

  @include tablet {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background: var(--color-bg);
    border-bottom: var(--border);

    &Burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 28px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-right: 10px;
      transition: transform var(--transition-duration) ease;

      span {
        display: block;
        height: 3px;
        width: 100%;
        background: var(--color-primary);
        border-radius: var(--border-radius-s);
        transition: all var(--transition-duration) ease;
      }
    }
  }
}
