@use '/src/styles/helpers/media.scss' as *;

.transactionsCardsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &Inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
}