.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  border-right: var(--border);

  &LogoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-bottom: var(--border);
  }
}