@use '/src/styles/helpers/functions.scss' as *;

.app {
  background: var(--color-card-bg);
  display: flex;
  min-height: 100vh;

  &__content {
    padding-block: fluid(40, 20);
    background-color: var(--color-bg);
    flex: 1;
  }
}